-
  var bubbleSmall = [
    ['2.5','Token Holders'],
    ['2.0'  ,'Brokers'],
    ["0.3","Development"],
    ["0.2","Reserve"]
  ]
section.business-model#business-model
  .container
    h2.business-model__title.title-line Business model
      span.title-line__line(data--20-bottom="width: 0px" data--200-bottom="width: 118px")
    .row
      .col-md-6.col-12.business-model__text
          p We designed a radically new business model to shift user mindset from worrying about the integrity of platform providers to focusing on own capacity to make profit.
          p Betex is the only platform, where as much as 95% of funds are distributed among traders, who succeed.
      .col-md-6.col-12.business-model__text
          p Besides, we are forming a large common pool of liquidity for each underlying asset in order to maximize users’ gain.
          p Powered by Ethereum smart contracts, Betex brings undisputable transparency, fair conduct and auditable results to Binary Options trading.

    //.buttons
      -for(var j = 1; j<5; j++)
        button(class="step-"+j)="step " + j
    .payouts(data-animated="false")
      .payouts__wrap.step-1.step-2.step-3.step-4
        svg.schedule(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewbox="0 0 206 88", style="enable-background:new 0 0 206 88;", xml:space="preserve")
          g(fill='none', fill-rule='evenodd')
            g(transform="translate(7.653)")
              rect.schedule__vertical-line(x="0", y="0", style="fill:#D8D8D8", width="1.3", height="88")
              rect.schedule__vertical-line(x="60", y="0", style="fill:#D8D8D8", width="1.3", height="88")
              rect.schedule__vertical-line(x="195.2", y="0", style="fill:#D8D8D8", width="1.3", height="88")
              path.schedule__horizontal-line(style="fill:none; stroke:#DED8D8; stroke-width:0.64; stroke-dasharray:3.2;", d="M0.9,48.3h195.9")
              path.schedule__second-curve(style="stroke-width:1.28;", d="M60.6,59.3l27.8-44.8l0,0c0.9-1.5,2.7-2.3,4.5-2.1c1.8,0.3,3.2,1.6,3.6,3.3l12.2,49.4l0,0\
              c0.5,1.9,2.1,3.3,4.1,3.4c2,0.1,3.8-1.1,4.4-2.9l3.3-9l0,0c0.4-1.1,1.3-2,2.5-2.3s2.4-0.1,3.3,0.7l0,0c0.9,0.7,2.2,1,3.3,0.7\
              c1.2-0.3,2.1-1.2,2.5-2.3l16.3-42.5l0,0c0.7-1.8,2.5-3,4.4-2.9s3.6,1.5,4.1,3.4l11.7,46.8l0,0c0.5,1.9,2.1,3.2,4,3.4\
              c1.9,0.2,3.7-0.9,4.5-2.7l18.2-41.6")
            path.schedule__first-curve(style="stroke-width:1.28;", d="M3.5,59.3l18.8-46.7c0.8-1.9,2.8-3,4.8-2.7c2,0.3,3.6,1.9,3.8,3.9l4.6,42.2c0.2,1.8,1.6,3.1,3.4,3.3\
            c1.8,0.1,3.4-1,3.8-2.7l2-7.6c0.5-1.8,2-3.1,3.9-3.3s3.6,0.8,4.5,2.5l6.3,12.9c0.7,1.5,2.2,2.4,3.8,2.5c1.6,0.1,3.2-0.7,4-2.1\
            l1.8-2.9")
            ellipse.schedule__first-dot(cx="8.3", cy="48.6", rx="2.6", ry="2.6")
            ellipse.schedule__second-dot(cx="68.2", cy="59.3", rx="2.6", ry="2.6")
            ellipse.schedule__third-dot(cx="203.4", cy="17.1", rx="2.6", ry="2.6")
            circle.schedule__third-dot-shadow(cx="203.5" cy="17")

        .investor.investor_profit
          svg(width="70px", height="70px")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#investor_green")
          .investor__line.investor__line_profit
            .investor__money.investor__money_profit.investor__money_profit-first
            .investor__money.investor__money_profit.investor__money_profit-second
            .investor__money.investor__money_profit.investor__money_profit-third

        .investor.investor_holdings
          svg(width="70px", height="70px")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#investor_red")
          .investor__line.investor__line_holdings
            .investor__money.investor__money_holdings.investor__money_holdings-first
            .investor__money.investor__money_holdings.investor__money_holdings-second

        .bubbles
          .bubble-main
            span.bubble-main__percent 95%
            span.bubble-main__text Payouts
          .bubble-middle
            span.bubble-middle__text 5%
        .bubble-small
          -for(var i = 0; i <bubbleSmall.length; i++)
            .bubble-small__item
              span.bubble-small__item-percent=bubbleSmall[i][0]
              span.bubble-small__item-title=bubbleSmall[i][1]
        // filters
        svg(xmlns='http://www.w3.org/2000/svg', version='1.1')
          defs
            filter#shadowed-goo
              fegaussianblur(in='SourceGraphic', result='blur', stddeviation='10')
              fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7', result='goo')
              //fegaussianblur(in='goo', stddeviation='3', result='shadow')
              //fecolormatrix(in='shadow', mode='matrix', values='0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -10.2', result='shadow')
              //feoffset(in='shadow', dx='1', dy='1', result='shadow')
              //fecomposite(in2='shadow', in='goo', result='goo')
              fecomposite(in2='goo', in='SourceGraphic', result='mix')
            filter#goo
            fegaussianblur(in='SourceGraphic', result='blur', stddeviation='10')
            fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7', result='goo')
            fecomposite(in2='goo', in='SourceGraphic', result='mix')

        a(href="#").btn.btn_default.payouts__replay.hidden
          span Restart presentation
        a(href="#").btn.btn_default.payouts__play
          span Play presentation

        //a(href="#").payouts__replay.hidden
        //  svg(width="38px", height="38px")
        //    use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#restart")
        //  span Restart presentation
        //a(href="#").payouts__play
        //  svg(width="38px", height="38px")
        //    use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#play")
        //  span Play presentation

    .payouts-mob
      .put-money
        p.put-money__title Players put money in common liquidy pool
        .put-money__investor.put-money__investor_green
          svg(width="70px", height="70px")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#investor_green")
        .put-money__investor.put-money__investor_red
          svg(width="70px", height="70px")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#investor_red")
        .put-money__circle
          span.put-money__circle-call Call
          span.put-money__circle-put Put


      .get-money
        p.get-money__title On the next step winners get money
        .get-money__investor.get-money__investor_green
          svg(width="70px", height="70px")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#investor_green")
        .get-money__investor.get-money__investor_red
          svg(width="70px", height="70px")
            use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#investor_red")
        .get-money__circle
          span.get-money__circle-percent 95%
          span.get-money__circle-title Payouts

      .commision
        p.commision__title And betexs takes 5% commision
        .commision__percent-bubble
          span 5%
        .commision__elucidation
          each item in bubbleSmall
            .commision__elucidation-bubble
              span.commision__elucidation-perc=item[0]
              span.commision__elucidation-title=item[1]


    include 005-tokens-distribution
    include 006-roadmap