-
  var roadMapTitle = ['Idea','R&D','Proof-of-concept','MVP','Beta version launch','Beta version launch','Beta version launch','Beta version launch'],
  roadMapCenter = ['Q4 2016','Q1 2017','Q2 2017','Q3 2017','Q4 2017','Q4 2017','Q4 2017','Q4 2017'],
  roadMapDescript = ['','','','website launch Alpha version launch','Tokens pre-sale & crowd sale Brokers launch','Tokens pre-sale & crowd sale Brokers launch','Tokens pre-sale & crowd sale Brokers launch','Tokens pre-sale & crowd sale Brokers launch'];

  var roadMap = [
    ['Q4-2016',
      'Idea',
      ''],
    ['Q1-2017',
      'R&D',
      ''],
    ['Q2-2017',
      'Proof-of-concept ',
      ''],
    ['Q3-2017',
      'Website launch',
      ''],
    ['Q4-2017',
      'MVP launch in testnet',
      'BDT token pre-sale & crowd sale'],
    ['Q1-2018',
      'Betex platform 1.0 release',
      ''],
    ['Q2-2018',
      'Support for Ethereum Classic',
      'Betex sport launch (p2p betting on sports)'],
    ['Q3-2018',
      'Irregular events markets adding Legal & Regulations',
      'Regulated BETEX Token Sale Dividends distribution between BETEX token holders'],
    ['Q4-2018',
      'Own regulated exchange with KYC/AML to keep SBT more stable',
      ''],
    ['2019',
      'Wide market expansion and adoption',
      '']
  ]

#roadmap.roadmap
  h2.roadmap-title.title-line Roadmap
    span.title-line__line(data--20-bottom="width: 0px" data--200-bottom="width: 118px")
  .roadmap-slider
    .roadmap-slider__item
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2016 Q4
      p.roadmap-slider__item-descript Idea
    .roadmap-slider__item
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2017 Q1
      p.roadmap-slider__item-descript Research & Development
    .roadmap-slider__item
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2017 Q2
      p.roadmap-slider__item-descript Proof of Concept
    .roadmap-slider__item
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2017 Q3
      p.roadmap-slider__item-descript Website Launch
    //.roadmap-slider__item.roadmap-slider__item_dashed
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2017 Q4
      p.roadmap-slider__item-descript Idea

    .roadmap-slider__item.roadmap-slider__item_dashed
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2017 Q4
      p.roadmap-slider__item-descript Launch and test of the p2p binary options platform MVP in the test net;
        br
        | Pre-sale of BETEX tokens in accordance with SAFT;
        br
        | Audit of the platform smart contracts;
        br
        | Web interface design of a platform section for p2p sports betting;

    .roadmap-slider__item.roadmap-slider__item_light
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2018 Q1:
      p.roadmap-slider__item-descript Obtaining a license for betting;
        br
        | Commercial launch of the p2p binary options platform Betex;
        br
        | Development of the available trading pairs list;
        br
        | Launch and test of a section of the platform MVP for p2p sports betting in the test net;
    .roadmap-slider__item.roadmap-slider__item_light
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2018 Q2:
      p.roadmap-slider__item-descript Commercial launch of a platform section for p2p sports betting;
        br
        | Connecting to the platform of the first brokers;
        br
        | Development of an API for trading bots;
        br
        | Launch of the platform mobile app for Android / iOS;
        br
        | Running the platform desktop client application;
    .roadmap-slider__item.roadmap-slider__item_light
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2018 Q3:
      p.roadmap-slider__item-descript Registration of the BETEX token in the SEC;
        br
        | Carrying out the main stage of BETEX token sale;
        br
        | Developing and connecting to FIX API;
        br
        | Development of the platform section for p2p betting on irregular events;
    .roadmap-slider__item.roadmap-slider__item_light
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2018 Q4:
      p.roadmap-slider__item-descript Scaling the network and / or moving to a more productive block;
        br
        | Launch of the platform section for p2p betting on non-regular events;
    .roadmap-slider__item.roadmap-slider__item_light
      .roadmap-slider__item-wrap
        span.roadmap-slider__item-center 2019 Q1:
      p.roadmap-slider__item-descript Global Market Expansion & Adaptation
        br
        | Project Breakthrough.
    //-for(var i = 0; i < roadMap.length; i++)
      if(i >= 5)
        .roadmap-slider__item.roadmap-slider__item_light
          .roadmap-slider__item-wrap
            span.roadmap-slider__item-center=roadMap[i][0]
            //p.roadmap-slider__item-title=roadMap[i][1]
            p.roadmap-slider__item-descript=roadMap[i][2]
      else if(i == 4)
        .roadmap-slider__item.roadmap-slider__item_dashed
          .roadmap-slider__item-wrap
            span.roadmap-slider__item-center=roadMap[i][0]
            //p.roadmap-slider__item-title=roadMap[i][1]
            p.roadmap-slider__item-descript=roadMap[i][2]
      else
        .roadmap-slider__item
          .roadmap-slider__item-wrap
            span.roadmap-slider__item-center=roadMap[i][0]
            //p.roadmap-slider__item-title=roadMap[i][1]
            p.roadmap-slider__item-descript=roadMap[i][2]
