-
  //  var detailCol = {
  //    'Start of whitelist register':'23.10.2017 at 14:00 GMT',
  //    'End of whitelist registration:': '28.10.2017 at 14:00 GMT',
  //    'Start of crowdsale for whitelisted addresses:': '01.11.2017 at 14:00 GMT',
  //    'Start of crowdsale for all without limits:': '03.11.2017 at 14:00 GMT',
  //    'End of crowdsale:': '01.12.2017 at 14:00 GMT or once Max Cap is reached'
  //  },
  var detailCol = {
    'Start of pre-sale round 1:': '04.12.17 at 14:00 GMT',
    'End of pre-sale round 1:': '20.12.17 at 14:00 GMT or 500,000 of BETEX tokens are sold out',
    'Pre-sale round 1 BETEX token price:': '$2.00 Max amount of tokens to be sold: 500,000 out of 10,000,000 (5%)',
    'Pre-sale round 1 hard cap:': '$ 1,000,000',
    'Min purchase amount:': '15,000 BETEX'
  },
  detailCol2 = {
    'Start of pre-sale round 2:': '10.01.18 at 14:00 GMT',
    'End of pre-sale round 2:': '31.01.18 at 14:00 GMT or 1,500,000 of BETEX tokens are sold out',
    'Pre-sale round 2 BETEX token price:': '$2.50',
    'Max amount of tokens to be sold:': '1,500,000 out of 10,000,000 (15%)',
    'Pre-sale round 2 hard cap:': '$ 3,750,000',
    'Min purchase amount:': '5,000 BETEX'
  }

section.betex-token#token-sale
  .container
    .betex-token__header
      h2.betex-token__title.title-line Betex Token pre-sale
        span.title-line__line(data--20-bottom="width: 0px" data--200-bottom="width: 118px")
      ul.tabs.betex-token__tabs-caption(data-tabgroup='token-tab')
        li.betex-token__tabs-item.active
          a.betex-token__tabs-link(href='#round1') Round 1
        li.betex-token__tabs-item
          a.betex-token__tabs-link(href='#round2') Round 2

    .row.betex-token__row
      .col-lg-6
        .betex-token__text
          p Betex Token pre-sale will be carried out in 2 stages. Tokens will be issued in accordance with SAFT agreement after the pre-sale, once they are  generated and registered.
      .col-lg-6
        .betex-token__text
          p
            b="Attention! "
            | Only qualified investors who have completed the KYC/AML process will have access to the Betex Token pre-sale.
      .col-12
        //a.betex-token__btn.btn(href="mailto:kyc@betexlab.com?subject=Become an investor") Contribute
        //a.betex-token__btn(href="./go-pro.pdf", target="_blank", rel="nofollow", onclick="gtag('event', 'download', {'event_category': 'pdf', 'event_action': 'download-terms'}); return true").btn.btn_large Terms of Tokens Sale

    #token-tab.tabgroup
      #round1.active

        .betex-token__detail
          .row
            .col-lg-6.betex-token__detail-col
              each key, item in detailCol
                .betex-token__detail-item
                  p.betex-token__detail-item-title=item
                  p=key
            .col-lg-6
              .progress
                p.progress__title Pre-sale round 1 start:
                #timer2.progress__timer
                //.progress__line-block
                  .progress__line-block-wrap
                    p.progress__line-title Round 1 funding progress
                    .progress__line
                      .progress__line-passed
                    .progress__line-values
                      span.progress__line-min 0
                      span.progress__line-max 500,000
      #round2
        .row
          .col-lg-5.betex-token__detail-col
            each key, item in detailCol2
              .betex-token__detail-item
                p.betex-token__detail-item-title=item
                p=key
          .col-lg-7
            .funds-disribution
              .funds-disribution__title-block.accordion-caption.open
                p.funds-disribution__title-mob Funds distribution
                  i.funds-disribution__title-mob-icon.accordion-caption__icon.dropdown-icon
                  //svg.funds-disribution__title-mob-icon.accordion-caption__icon(width="32px", height="32px")
                    use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="#dropdown")
              .funds-disribution__wrap.open
                .funds-disribution__chart#funds-disribution
                //img.funds-disribution__chart(src="img/home-page/token-chart.png", alt="token-chart")
                .funds-disribution__descript
                  p.funds-disribution__descript-title Funds Distribution
                  ul.funds-disribution__list
                    li.funds-disribution__list-item.yellow(data-index="0")
                      b="40% "
                      span Platform Development
                    li.funds-disribution__list-item.red(data-index="1")
                      b="15% "
                      span Marketing
                    li.funds-disribution__list-item.blue(data-index="2")
                      b="15% "
                      span Legal Support
                    li.funds-disribution__list-item.grey(data-index="3")
                      b="15% "
                      span Operational Costs
                    li.funds-disribution__list-item.light-blue(data-index="4")
                      b="5% "
                      span Research
                    li.funds-disribution__list-item.green(data-index="5")
                      b="10% "
                      span Reserve
              //.funds-disribution__line
                .funds-disribution__line-item
                  span.funds-disribution__line-info +20%
                  .funds-disribution__line-dot
                    span.funds-disribution__line-date 9 oct
                .funds-disribution__line-item
                  span.funds-disribution__line-info +10%
                  .funds-disribution__line-dot
                    span.funds-disribution__line-date 10 oct
                .funds-disribution__line-item
                  span.funds-disribution__line-info No bonus
                  .funds-disribution__line-dot
                    span.funds-disribution__line-date 13 oct
                .funds-disribution__line-item
                  .funds-disribution__line-dot
                    span.funds-disribution__line-date 16 oct



    //.join-block
      .join-block__title Join to crowdsale
      .join-block__wrap
        a(href="#").btn.btn_default Contribute
        a(href="./go-pro.pdf", target="_blank", rel="nofollow").link-doc Terms of Tokens Sale

